config_files/obsparams/*
*~
logs/*
outputs/*
sky_models/*.fits
sky_models/gleam_like/*
sky_models/ptsrc/*
sky_models/diffuse*/
sky_models/confusion*/
sky_models/gsm*/
sky_models/eor/
**/.ipynb_checkpoints
**/__pycache__
profiling/*
*.fits
*.png
*.pdf
*.psc
test-rechunk-script/*
*.out
*.sbatch