config_files/obsparams/*
*~
logs/*
outputs/*
sky_models/
sky_models/*.fits
sky_models/gleam_like/*
sky_models/ptsrc/*
sky_models/diffuse*/
sky_models/confusion*/
sky_models/gsm*/
sky_models/eor/
**/.ipynb_checkpoints
**/__pycache__
*.fits
*.png
*.pdf
*.psc
test-rechunk-script/*
*.out
*.sbatch
compression-cache/*
tmp/
*.nsys-rep
*.sqlite
batch_scripts/
profiling/
memray-*
*.flame
AFalse_*
ATrue_*
